<html>
<head></head>
<body>
    <form action="" name="login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Log in">
    </form>
    <a href="/register"> Register </a>
</body>
</html>
